body{
  background: #1a1e23;
  font-family: 微软雅黑;
}

/* 代码块 */
pre{
  font-family: 微软雅黑;
  background: #333;
  padding: 12px;
  color: #fff;
  border: 2px dashed #00b9d1;
  /* border-radius: 8px; */
  font-size: 14px;
}
code{
  padding: 0;
  font-family: Consolas, "Courier New", monospace;
  color:#3e9cd6;
}
a{
  line-height: 32px;
  text-decoration:none;
  padding: 4px 16px;
  background: transparent;
  border: 1px solid #00b9d1;
  color: #fff;
  width: auto;
  display: inline-block;
  margin: 16px ;
  outline: transparent;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.25s;
  /* position:sticky;
  top: 10px; */
}
a:hover{
  box-shadow: 0 0 10px 4px #00b9d1;
}
a::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, transparent,#00b9d1, transparent);
  transform: translateX(-100%);
  transition: 0.6s;
}
a:hover::before {
  transform: translateX(100%);
}