html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.box .header,
.box .footer {
  background: hotpink;
  width: 100%;
  height: 50px;
}

.box .middle {
  flex: 1;
  background: yellowgreen;
  overflow: scroll;
  position: relative;
}

.box .middle .leftSide,
.box .middle .rightSide {
  width: 150px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  background: #ccc;
}

.box .middle .leftSide {
  left: 0px;
}

.box .middle > .rightSide {
  right: 0px;
}

.box .middle .content {
  padding: 0px 150px;
}
